<font color="#910000">ÜBERSETZUNG</font>
Ebcx92
Erizzle
Rocket55

<font color="#910000">DEUTSCHE STIMME</font>
Jan Winnenberg

<font color="#910000">SYNCHRONREGIE</font>
Benedict Matysik
Erizzle

<font color="#910000">MEGA PATREON SUPPORTER</font>
Lillith
Cedrik Ple
ACertainCoder
Just a Yoshi


<font color="#910000">JACKBOX GAMES</font>

<font color="#910000">DIRECTOR</font>
Ryan DiGiorgi

<font color="#910000">LEAD ENGINEER</font>
Mike Zuba

<font color="#910000">SUPERVISING ART DIRECTOR</font>
Allard Laban

<font color="#910000">LEAD ART</font>
Alain Helmers

<font color="#910000">ART & ANIMATION</font>
Hector M Padilla

<font color="#910000">MUSIC DIRECTOR</font>
Andy Poland

<font color="#910000">SOUND EFFECTS</font>
Brian Chard

<font color="#910000">HOST</font>
Tom Gottlieb as
Cookie Masterson

<font color="#910000">HEAD WRITERS</font>
Warren Arnold
Spencer Ham

<font color="#910000">WRITERS</font>
Brian Chard
Ryan DiGiorgi
Brian McGovern
Greg Owens
Stephanie Weber

<font color="#910000">CONTRIBUTING WRITERS</font>
Tom Barrett
Luke Donovan
Tom Gottlieb
Steve Heinrich
Alain Helmers
Ben Jacobs
Arnie Niekamp
Andy Poland

<font color="#910000">PROJECT MANAGER</font>
Luke Cody

<font color="#910000">SOFTWARE ENGINEERS</font>
Ben Jacobs
Evan Jacover
Jordan Orelli
Pascal Pochol
Alex Swan

<font color="#910000">SOFTWARE ENGINEERING INTERNS</font>
Stasha Blank
Jeannette Forbes
April Martin

<font color="#910000">ADDITIONAL ART</font>
Nolan Downs

<font color="#910000">SINGERS</font>
Mike Finney
Heather Bick

<font color="#910000">PRODUCTION ASSISTANT</font>
Tom Barrett

<font color="#910000">PROOFREADER</font>
Elaine Friedberg

<font color="#910000">QA LEAD</font>
Steve "wat" Pakal
 
<font color="#910000">QA</font>
Jacob Mooney
Em K Reishus
Riley Halligan
Kevin Vekony

<font color="#910000">LEGAL COUNSEL</font>
Kurt Hirsch

<font color="#910000">CONTROLLER</font>
Anna Wodynski

<font color="#910000">HUMAN RESOURCES, OFFICE MANAGER & BEAN COUNTER</font>
Rob Alletto

<font color="#910000">CEO</font>
Mike Bilder

<font color="#910000">VP OF CREATIVE</font>
Allard Laban

<font color="#910000">VP OF ENGINEERING</font>
Evan Jacover

<font color="#910000">SPECIAL THANKS</font>
Adam Charney
Greg Gretsch
Steve Heinrich
Dave Innis
Rob Johnson
Mark Turowetz
Owen Watson
The People of Florida

<font color="#910000">FOUNDER OF JACKBOX GAMES</font>
Harry Gottlieb